{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <meta name="twitter:image:src" content="https://etlgroupllc.com/static/images/banner.png">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="ETL Group">
    <meta name="twitter:title" content="Transportation, Logistics & Brokerage Consulting">
    <meta name="twitter:description" content="LOGISTICS CONSULTING & SUPPLY CHAIN MANAGEMENT">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://etlgroupllc.com/"/>
    <meta property="og:site_name" content="ETL Group"/>
    <meta property="og:title" content="Transportation, Logistics & Brokerage Consulting"/>
    <meta property="og:description" content="LOGISTICS CONSULTING & SUPPLY CHAIN MANAGEMENT"/>
    <meta property="og:image" content="https://etlgroupllc.com/static/images/banner.png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="600"/>


    <title>ETL Group</title>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'js/toastr/toastr.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=3">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/tsparticles.pathseg.min.js' %}"></script>
    <script src="{% static 'js/toastr/toastr.js' %}"></script>
    <script src="{% static 'js/input.mask.js' %}"></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FPV2WTYPMT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-FPV2WTYPMT');
    </script>

</head>
<body>

<div class="first">
    <header class="header">
        <nav class="header-nav">
            <div class="logo-text">
                <a href="./">
                    <img class="logo" src="{% static 'images/logo.png' %}" alt="logo"/>
                </a>
                <p class="logo-text">
                    Transportation, <br/>
                    Logistics & Brokerage Consulting
                </p>
            </div>
            <div class="header-phone">
                <a class="phone-number" href="tel: {{ contact.phone }}">{{ contact.phone }}</a>
                <a class="phone-text" href="tel: {{ contact.phone }}">Call us</a>
            </div>
        </nav>
    </header>
    <div class="mainText">
        <h2 class="title">Logistics consulting
            & supply chain management
        </h2>
        <p class="subtitle">
            We provide services to businesses of all sizes, helping them develope strategies for growth,
            manage
            the rising cost of transportation and fuel, reduce inventory levels, improve efficiency, and
            increase profitability
        </p>
        <a href="#" class="btn">Work with us</a>
        <div>
            <p class="scrollDown">Scroll down</p>
        </div>
    </div>
    <div class="background" id="particles-js"></div>
</div>
<div class="second">
    <div class="mainSecond">
        <h3 class="title-second">
            Custom software
            development & consulting
        </h3>
        <p class="subtitle-second">
            Our company specializes in the creation of enterprise-class software solutions for clients
            around the world. With over 10 years of experience, we have earned our reputation as one of the
            most reliable providers
            of quality services to companies that are looking for top talent to help them grow their
            business
        </p>
    </div>
    <div class="images">
        <img class="image1" src="{% static 'images/1.png' %}" alt="1"/>
        <img class="image2" src="{% static 'images/2.png' %}" alt="2"/>
        <img class="image3" src="{% static 'images/3.png' %}" alt="3"/>
        <img class="image4" src="{% static 'images/4.png' %}" alt="4"/>
    </div>

</div>
<div class="third">
    <div class="mainThird">
        <h3 class="title-third">
            Get in touch
        </h3>
        <form action="#" id="feedbackCreateForm">
            <div class="group">
                <input class="form-text" type="text" required id="name" autocomplete="off">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="name">Your Name</label>
            </div>

            <div class="group">
                <input class="form-text" type="text" required id="phone" autocomplete="off">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="phone">Your Phone</label>
            </div>

            <div class="group">
                <input class="form-text" type="text" required id="comment" autocomplete="off">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="comment">Describe your task...</label>
            </div>

            <div class="group">
                <div class="ans-label">
                    <input id="checkbox" type="checkbox" class="checkbox square" required>
                    &nbsp;I am agree with privacy police
                </div>
            </div>

            <div class="group">
                <button type="submit" class="btn" id="submitBtn">Submit</button>
            </div>
        </form>
        <h3 class="span loader">
            <span class='m'>B</span>
            <span class='m'>E</span>
            <span class='m'>N</span>
            <span class='m'>E</span>
            <span class='m'>F</span>
            <span class='m'>I</span>
            <span class='m'>T</span>
            <span class='m'>S</span>
            <span class='m'>&nbsp;</span>
            <span class='m'>o</span>
            <span class='m'>f</span>
            <span class='m'>&nbsp;</span>
            <span class='m'>T</span>
            <span class='m'>E</span>
            <span class='m'>C</span>
            <span class='m'>H</span>
            <span class='m'>N</span>
            <span class='m'>O</span>
            <span class='m'>L</span>
            <span class='m'>O</span>
            <span class='m'>G</span>

            <span class='m'>I</span>
            <span class='m'>E</span>
            <span class='m'>S</span>
        </h3>
        <div class="background" id="particles-js2"></div>
    </div>
    <hr>
    <div class="footer">
        <p class="footer-text">ETL Group. {% now "Y" %} ©</p>
        <p class="footer-text">All right reserved.</p>
        <p class="footer-text footer-altek">
            Powered by:
            <a target="_blank" href="https://altek.icu/">
                <img class="altek" src="{% static 'images/altek.svg' %}" alt="ALTEK">
            </a>
        </p>
    </div>
</div>


<script src="{% static  'js/particles.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>

    $("#phone").inputmask({
        "mask": "+1 (ddd) ddd-dddd"
    });

    $("#feedbackCreateForm").submit((event) => {
        event.preventDefault();

        const url = "{% url 'feedback:create' %}";
        let requestData = new FormData();
        requestData.append('name', $('#name').val());
        requestData.append('phone', $('#phone').val());
        requestData.append('comment', $('#comment').val());
        requestData.append('agree', $('#checkbox').val());

        document.getElementById('submitBtn').disabled = true;
        $.ajax({
            headers: {"X-CSRFToken": "{{csrf_token}}"},
            url: url,
            processData: false,
            contentType: false,
            method: 'POST',
            data: requestData,
            success: () => {
                toastr.success(
                    'YOUR REQUEST HAS BEEN\n' +
                    'SENT SUCCESSFULLY!',
                    'Success',
                    {
                        positionClass: "toast-top-center",
                        timeOut: 2000,
                        fadeOut: 1000,
                    }
                );

                $('#feedbackCreateForm')[0].reset();
                document.getElementById('submitBtn').disabled = false;
            },
            error: (data) => {
                toastr.error(
                    data.responseText,
                    'Error',
                    {
                        positionClass: "toast-top-center",
                        timeOut: 2000,
                        fadeOut: 1000,
                    }
                );
                document.getElementById('submitBtn').disabled = false;
            }
        });
    });

</script>

</body>
</html>
